.page-header {
  background-color: whitesmoke;
}

.page-header__title {
  margin: $m-size 0;
  color: $dark-blue;
  text-decoration: none;
  font-weight: 300;
  span {
    font-weight: bold;
  }
}

.page-header .button {
  display: inline-block;
  margin-bottom: $s-size;
  text-decoration: none;
}
